xcodeProject/Data/resources.assets filter=lfs diff=lfs merge=lfs -text
xcodeProject/Data/resources.assets.resS filter=lfs diff=lfs merge=lfs -text
xcodeProject/Libraries/LibiPhone-lib.a filter=lfs diff=lfs merge=lfs -text
