.DS_Store
unityProject/.SD_Store
unityProject/Assets/.DS_Store
unityProject/Library
unityProject/Logs
unityProject/obj
unityProject/Temp
Paint_xcodeProject/Libraries/libiPhone-lib.a
Paint_xcodeProject/Data/resources.assets
Paint_xcodeProject/Data/resources.assets.resS
Paint_xcodeProject/Data
Paint_xcodeProject/Classes/Native
